---
import Navbar from "../components/Navbar.astro";
---

<header>
	<Navbar />
</header>

<main class="container">
    <div class="author-profile-card">
        <div class="author-profile-image">
            <img src="#" alt="#"/>
        </div>

        <div class="profile-card-content">
            <div class="author-introduction">
                <h2>Author Name</h2>
                <p>Author description</p>
            </div>

            <div class="author-skills">
                <h3>Author's Skills</h3>
                <ul class="author-skill-list">
                    <li class="skill-item">placeholder</li>
                </ul>
            </div>

            <div class="author-interests">
                <h3>Author's Interest</h3>
                <ul class="author-interest-list">
                    <li class="interest-item">placeholder</li>
                </ul>
            </div>

            <div class="author-experiences">
                <h3>Author's Experience</h3>
                <p>experience description</p>
            </div>

            <div class="author-links">
                <h3>Social Platforms</h3>
                <p>Willing to communicate with me?</p>
                <ul class="social-links">
                    <li class="social-link-item">
                        <a href="#">
                            Placeholder
                        </a>
                    </li>
                </ul>

                <a href="#">Interested to work with me? Click here</a>
            </div>
        </div>
    </div>
</main>