<footer>
    <a href="/" class="footer-brand">Coffee Break</a>
    
    <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/work-with-me">Work with Me</a></li> 
        <li class="nav-item nav-cta">
			<a href="https://ko-fi.com/simplytriangle" target="_blank" rel="noopener noreferrer">
				Ko-fi
			</a>
		</li>
    </ul>

    <p class="footer-copy">&copy; 2026 Coffee Break. All rights reserved.</p>
</footer>