<footer>
    <a href="/" class="footer-brand">Coffee Break</a>
    
    <ul class="footer-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
        <!-- <li><a href="/work-with-me">Work with Me</a></li> -->
    </ul>

    <p class="footer-copy">&copy; 2026 Coffee Break. All rights reserved.</p>
</footer>